body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-image: url(../img/hintergrund_2.jpg);
}
a{color: #000;}
a:visited{color:#666;}
header a{text-decoration: none;}
header a:visited{color: #000;}
#inhaltsvz a:visited{color: #000}
#thema img{max-width: 70%;}
#menu a{text-decoration: none;}
#menu a:visited{color: #000;}
#kopfbereich img{
    max-height: 100%;
}
#kopfbereich{
    background-color: white;
    position: relative;
    height: 115px;
}
#kopfbereich_text{
    font-size: 15px;
    position: absolute;
    bottom: 5%;
    right: 8%;
    text-align: right;
}
.menu_leiste:hover{background-color: #e3e3e3;}
.menu_leiste a{
    display:block;
}
.menu_leiste{
    font-size: 18px;
    float: left;
    padding: 11px;
    margin-left: 6px;
}
#wrapper{
    left: 10%;
    min-width: 320px;
    width: 98%;
    max-width: 1140px;
    margin: 0 auto;
    background-image: url(../img/hintergrund_grau.png)
}
.container{
    float: left;
    margin: 10px 15px 30px 0;
    padding: 5px;
    height: 670px;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}
.inhalt{
    background-color:white;
}
#links{
    max-width: 15%;
    margin: 0 auto;
    padding: 0 auto;
}
#fussbereich{
    text-align: center;
    clear: both;
}
#thema{
    min-width: 35%;
    max-width: 80%;
}
#trenn_null{
    margin: 1;
    padding: 0;
}
#trenn_eins{
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 700px;
    max-height: 90%; 
    size: 100%;
}

/* Maleware PopUp */
.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
/* Maleware PopUp */

/* SIE PopUp */
.box_SIE {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}
.popup_SIE {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup_SIE h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup_SIE .close_SIE {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup_SIE .close_SIE:hover {
    color: #06D85F;
}
.popup_SIE .content_SIE {
    max-height: 30%;
    overflow: auto;
}
.overlay_SIE {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay_SIE:target {
    visibility: visible;
    opacity: 1;
}
/* SIE PopUp */

